<html>

<div>
    <a href="/showapi/register">Register </a>
    <br>
    <a href="/showapi/login">Login </a>
    <br> <br>
    <a href="/showapi/addEvent">Add new event</a>
    <br>
    <a href="/showapi/addEventVolunteerFunctions">Add new event with role</a>
    <br>
    <br>
    <a href="/showapi/signup">Sign up user for event</a>
    <br>
    <form name="Show events" method="get" action="/showapi/events">
        <table>
            <tr>
                <p><input type="radio" name="showType" value="all" checked>All</p>
            </tr>
            <tr>
                <p><input type="radio" name="showType" value="unchecked">Unchecked</p>
            </tr>
            <tr>
                <p><input type="radio" name="showType" value="approved">Approved</p>
            </tr>
            <tr>
                <p><input type="radio" name="showType" value="coordinated">Coordinated</p>
            </tr>
            <tr>
                <p><input type="radio" name="showType" value="published">Published</p>
            </tr>
            <tr>
                <p><input type="radio" name="showType" value="expired">Expired</p>
            </tr>
            <tr>
                <td><button type="submit">Show events</button></td>
                <td>
                    <p><input type="checkbox" name="activeOnly" checked>Active Only</p>
                </td>
            </tr>
        </table>
    </form>
    Events management
    <form method="POST">
        <input type="hidden" name="jumpWhat" value="event">
        <table>
            <tr>
                <td><input type="number" name="id" value=""></td>
                <td><input type="submit" name="action" value="Jump to event"></td>
                <td><input type="submit" name="action" value="Add role to event"></td>
            </tr>
        </table>
    </form>
    VolunteerFunction management
    <form method="POST">
        <input type="hidden" name="jumpWhat" value="volunteerFunction">
        <table>
            <tr>
                <td><input type="number" name="id" value=""></td>
                <td><input type="submit" name="action" value="Jump to volunteerFunction"></td>
            </tr>
        </table>
    </form>
</div>

</html>