<!DOCTYPE HTML>
<html>
<div id="addRole_form">
    <form method="post">
        <table>
            <tr>
                <td>Function name :</td>
                <td><input type="text" name="name" value="" />
                </td>
            </tr>
            <tr>
                <td>Function description :</td>
                <td><input type="text" name="description" value="" />
                </td>
            </tr>
            <tr>
                <td>Function requirements :</td>
                <td><input type="text" name="requirements" value="" />
                </td>
            </tr>
            <tr>
                <td>Start time :</td>
                <td><input type="datetime-local" name="timeStart" value="" />
                </td>
            </tr>
            <tr>
                <td>End time :</td>
                <td><input type="datetime-local" name="timeFinish" value="" />
                </td>
            </tr>
            <tr>
                <td>Number of volunteers needed :</td>
                <td><input type="number" name="numberNeeded" value="" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Add Volunteer function" style="font-size:18px; " />
                </td>
            </tr>
        </table>
    </form>
</div>

</html>