table {
    border-collapse: collapse;
    color: #686461;
}

theader {
    padding: 10px;
    color: white;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
}
td {
    padding: 10px;
}