<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>AddEventForm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<div id="header">
    <div class="head_line">
        <div class="head_line_block_left">
            <a th:href="@{/main}">Главная</a>
        </div>

        <div class="head_line_block_right">
            <!--                The "sign out" block must be the last among the elements of the current block-->
            <div class="head_one_element"  sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out" />
                </form>
            </div>
        </div>
    </div>
</div>
    
    <div id="addEvent_form">
        <form method="post" th:action="@{/addEvent}">
            <table>
                <tr>
                    <td>Event name :</td>
                    <td><input type="text" name="name" value="" maxlength="50" /> </td>
                </tr>
                <tr>
                    <td>Event Description :</td>
                    <td><input type="text" name="description" value="" maxlength="300" /></td>
                </tr>
                <tr>
                    <td>Event Place :</td>
                    <td><input type="text" name="place" value="" maxlength="120" /></td>
                </tr>
                <tr>
                    <td>Start date :</td>
                    <td><input type="datetime-local" name="dateStart" value="" /></td>
                </tr>
                <tr>
                    <td>End date :</td>
                    <td><input type="datetime-local" name="dateFinish" value="" /></td>
                </tr>
                <tr>
                    <td><input type="submit" name="addEvent" value="Add Event" style="font-size:18px; " /></td>
                </tr>
            </table>
        </form>
    </div>

</body>

</html>