<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="${event.getName()} + ' event'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item">
                    <a class="nav-link" th:href="@{/events}">Мои мероприятия</a>
                </a>
            </div>
        </div>

        <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <div class="nav-item">
                <a class="nav-link" th:href="@{/personal_account}">Мой профиль</a>
            </div>
            <div class="nav-item">
                <form class="nav-item" th:action="@{/logout}" method="post">
                    <input class="btn btn-outline-secondary" type="submit" value="Выйти из аккаунта" />
                </form>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-left: 2%">
        <div class ="row" style="padding: 1%">
                <h2 style="padding-right: 1%" th:text="${event.getName()}"></h2>
                <div th:if="${user.getUserRole().getName() == 'COORDINATOR' && event.getCoordinator() == null}">
                    <form th:action="${event.getEventID() + '/coordinate'}" method="post">
                        <button type="submit" class="btn-primary">Курировать</button>
                    </form>
                </div>
                <div th:if="${(event.getOrganiser().getLogin() == user.getLogin() && event.getStatus().getName() == 'CREATED' || event.getCoordinator()!= null && event.getCoordinator().getLogin() == user.getLogin())}">
                    <a class="btn btn-outline-primary" th:href="@{'/events/' + ${(event.getEventID())} +'/edit'}" role="button">Редактировать информацию</a>
                </div>
                <div th:if="${event.getStatus().getName() == 'UNCHECKED' && user.getUserRole().getName() == 'MANAGER'}">
                    <form th:action="${event.getEventID() + '/setEventStatus'}" method="post">
                        <button type="submit" name="changeStatus" value="APPROVED" class="btn btn-outline-success">Одобрить</button>
                        <button type="submit" name="changeStatus" value="DENIED" class="btn btn-outline-danger">Отклонить</button>
                        Причина отказа: <input type="text" maxlength="300" name="message" />
                    </form>
                </div>
        </div>
        <div class="row" style="padding: 1%">
            <div class="col-md-2"><h6>Даты</h6></div>
            <div class="col-md-6" th:text="${event.getPrettyDateStart()} + '—' + ${event.getPrettyDateFinish()}"></div>
        </div>
        <div class="row" style="padding: 1%">
            <div class="col-md-2"><h6>Место проведения</h6></div>
            <div class="col-md-6" th:text="${event.getPlace()}"></div>
        </div>
        <div class="row" style="padding: 1%">
            <div class="col-md-2"><h6>Описание</h6></div>
                <div class="col-md-6" th:text="${event.getDescription()}"></div>
        </div>
        <div class="row" style="padding: 1%">
            <div class="col-md-2"><h6>Тип одежды</h6></div>
            <div class="col-md-6" th:text="${event.getClothesType()}"></div>
        </div>
        <div class="row" style="padding: 1%">
            <div class="col-md-2"><h6>Проживание волонтеров</h6></div>
            <div class="col-md-6" th:text="${event.getAccommodation()}"></div>
        </div>
        <div class="row" style="padding: 1%">
            <div class="col-md-2"><h6>Питание волонтеров</h6></div>
            <div class="col-md-6" th:text="${event.getFood()}" ></div>
        </div>
        <div class="row" style="padding: 1%">
            <div class="col-md-2"><h6>Особые требования</h6></div>
            <div class="col-md-6" th:value="${event.getRequirements()}"></div>
        </div>
    </div>

    <div id="volunteers-functions-content" style="margin-left: 4%; margin-right: 4%">
        <div class="row">
            <h2  style="padding-right: 2%">Функции волонтёров</h2>
            <div th:if="${(event.getOrganiser().getLogin() == user.getLogin() && event.getStatus().getName() == 'CREATED' || event.getCoordinator()!= null && event.getCoordinator().getLogin() == user.getLogin())}">
                <script>
                    function showAdd() {
                        document.getElementById("addVolunteerFunctionForm").style.display = "block"
                        document.getElementById("addVolunteerFunctionButton").style.display = "none"
                    }

                    function  hideAdd() {
                        document.getElementById("addVolunteerFunctionForm").style.display = "none"
                        document.getElementById("addVolunteerFunctionButton").style.display = "block"
                    }
                </script>
                <button id="addVolunteerFunctionButton" onclick="showAdd()" class="btn btn-outline-success">Добавить функцию</button>
                <form method="post" id="addVolunteerFunctionForm" style="display: none;">
                    <table class="table table-bordered">
                        <tr>
                            <th scope="row">Название функции</th>
                            <td><input type="text" name="name" maxlength="100"></td>
                        </tr>
                        <tr>
                            <th scope="row">Описание функции</th>
                            <td><textarea name="description" maxlength="500" cols="90"></textarea></td>
                        </tr>
                        <tr>
                            <th scope="row">Требования к функции</th>
                            <td><textarea name="requirements" maxlength="200" cols="90"></textarea></td>
                        </tr>
                        <tr>
                            <th scope="row">Время начала</th>
                            <td><input type="datetime-local" name="timeStart" th:value="${event.getDateStart()}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Время окончания</th>
                            <td><input type="datetime-local" name="timeFinish" th:value="${event.getDateFinish()}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Количество волонтёров</th>
                            <td>
                                <input type="number" name="numberNeeded">
                            </td>
                        </tr>
                    </table>
                    <button type="submit" class="btn-success">Добавить</button>
                    <button type="button" class="btn-primary" onclick="hideAdd()">Скрыть</button>
                </form>
                <br>
            </div>
        </div>
        <div th:if="${not #lists.isEmpty(volunteerFunctions)}">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Требования</th>
                    <th scope="col">Время</th>
                    <th scope="col">Количество волонтеров</th>
                    <div th:if="${(event.getOrganiser().getLogin() == user.getLogin() && event.getStatus().getName() == 'CREATED' || event.getCoordinator()!= null && event.getCoordinator().getLogin() == user.getLogin())}">
                        <th scope="col">Доступные действия             </th>
                    </div>
                </tr>
            </thead>
            <tr th:each="volunteerFunction : ${volunteerFunctions}">
                <td th:text="${volunteerFunction.getName()}" />
                <td style="max-width: 20%" th:utext="${volunteerFunction.getDescription().replace('&#13', '<br>')}" />
                <td th:utext="${volunteerFunction.getRequirements().replace('&#13', '<br>')}" />
                <td><span th:text="${volunteerFunction.getPrettyTime()}" /></td>
                <td th:text="${volunteerFunction.getNumberNeeded()}" />
                <div th:if="${(event.getOrganiser().getLogin() == user.getLogin() && event.getStatus().getName() == 'CREATED') || event.getCoordinator()!= null && event.getCoordinator().getLogin() == user.getLogin()}">
                    <td>
                        <a class="btn btn-outline-primary" th:href="@{'/events/' + ${(event.getEventID())} + '/volunteerFunctions/' + ${(volunteerFunction.getVolunteerFunctionID())} +'/edit'}" role="button">Редактировать</a>
                        <form th:action="@{'/events/' + ${(event.getEventID())} + '/volunteerFunctions/' + ${(volunteerFunction.getVolunteerFunctionID())} +'/delete'}" method="post">
                            <button type="submit" name="deleteVolunteerFunction" class="btn btn-outline-danger">Удалить</button>
                        </form>
                    </td>
                </div>
            </tr>
        </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>