<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="${event.getName()} + ' event'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item">
                    <a class="nav-link" th:href="@{/events}">My events</a>
                </a>
            </div>
        </div>

        <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <div class="nav-item">
                <a class="nav-link" th:href="@{/personal_account}">My profile</a>
            </div>
            <div class="nav-item">
                <form class="nav-item" th:action="@{/logout}" method="post">
                    <input class="btn btn-secondary" type="submit" value="Sign Out" />
                </form>
            </div>
        </div>
    </nav>

    <h2 th:text="${event.getName()}"></h2>

    <div th:if="${(event.getOrganiser().getLogin() == user.getLogin() && event.getStatus().getName() == 'CREATED')}">
        <button id="editEventButton" class="btn"> <a th:href="@{'/events/' + ${(event.getEventID())} +'/edit'}">Edit main event info</a></button>
    </div>

    <table id="event-content" class="table table-bordered">
        <tr>
            <th scope="row">Description</th>
            <td th:utext="${event.getDescription().replace('&#13', '<br>')}" />
        </tr>
        <tr>
            <th scope="row">Place</th>
            <td th:text="${event.getPlace()}" />
        </tr>
        <tr>
            <th scope="row">Time</th>
            <td><span th:text="${event.getDateStart()}" /> - <span th:text="${event.getDateFinish()}" /></td>
        </tr>
        <tr>
            <th scope="row">Requirements</th>
            <td th:text="${event.getRequirements()}" />
        </tr>
        <tr>
            <th scope="row">Clothes</th>
            <td th:text="${event.getClothesType()}" />
        </tr>
        <tr>
            <th scope="row">Accommodation</th>
            <td th:text="${event.getAccommodation()}" />
        </tr>
        <tr>
            <th scope="row">Food</th>
            <td th:text="${event.getFood()}" />
        </tr>
        <tr>
            <th scope="row">Organised by</th>
            <td th:text="${event.getOrganiser().getName()}" />
        </tr>
        <tr th:if="${event.getCoordinator() != null}">
            <th scope="row">Coordinated by</th>
            <td th:text="${event.getCoordinator().getName()}" />
        </tr>
    </table>

    <div id="volunteers-functions-content" th:if="${not #lists.isEmpty(volunteerFunctions)}">
        <h2>Volunteer functions</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Requirements</th>
                    <th scope="col">Time</th>
                    <th scope="col">NumberOfVolunteers</th>
                    <div th:if="${(event.getOrganiser().getLogin() == user.getLogin() && event.getStatus().getName() == 'CREATED')}">
                    <th scope="col">Link</th>
                    </div>
                </tr>
            </thead>
            <tr th:each="volunteerFunction : ${volunteerFunctions}">
                <td th:text="${volunteerFunction.getName()}" />
                <td th:utext="${volunteerFunction.getDescription().replace('&#13', '<br>')}" />
                <td th:utext="${volunteerFunction.getRequirements().replace('&#13', '<br>')}" />
                <td><span th:text="${volunteerFunction.getTimeStart()}" /> - <span
                        th:text="${volunteerFunction.getTimeFinish()}" /></td>
                <td th:text="${volunteerFunction.getNumberNeeded()}" />
                <div th:if="${(event.getOrganiser().getLogin() == user.getLogin() && event.getStatus().getName() == 'CREATED')}">
                <td><a th:href="@{'/events/' + ${(event.getEventID())} + '/volunteerFunctions/' + ${(volunteerFunction.getVolunteerFunctionID())} +'/edit'}">
                    Edit Volunteer Function</a></td>
                </div>
            </tr>
        </table>
    </div>

    <div th:if="${(event.getOrganiser().getLogin() == user.getLogin() && event.getStatus().getName() == 'CREATED')}">
        <script>
            function showAdd() {
                document.getElementById("addVolunteerFunctionForm").style.display = "block"
                document.getElementById("addVolunteerFunctionButton").style.display = "none"
            }
        </script>
        <button id="addVolunteerFunctionButton" onclick="showAdd()" class="btn">Add volunteer function</button>
        <form method="post" id="addVolunteerFunctionForm" style="display: none;">
            <table class="table table-bordered">
                <tr>
                    <th scope="row">Function name</td>
                    <td><input type="text" name="name" maxlength="100"></td>
                </tr>
                <tr>
                    <th scope="row">Function description</td>
                    <td><textarea name="description" maxlength="500" cols="90"></textarea></td>
                </tr>
                <tr>
                    <th scope="row">Function requirements</td>
                    <td><textarea name="requirements" maxlength="200" cols="90"></textarea></td>
                </tr>
                <tr>
                    <th scope="row">Start time</td>
                    <td><input type="datetime-local" name="timeStart" th:value="${event.getDateStart()}"></td>
                </tr>
                <tr>
                    <th scope="row">End time</td>
                    <td><input type="datetime-local" name="timeFinish" th:value="${event.getDateFinish()}"></td>
                </tr>
                <tr>
                    <th scope="row">Number of volunteers needed</td>
                    <td>
                        <input type="number" name="numberNeeded">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn-primary">Add Volunteer function</button>
                    </td>
                </tr>
            </table>
        </form>
        <br>
    </div>







    <-------- DANGEROUS MANAGING EVENT SECTION, NOT FOR NOW ------->
    <div
        th:if="${event.getStatus().getName() == 'UNCHECKED' && user != null && user.getUserRole().getName() == 'MANAGER'}">
        You are manager. You can change status of this event:
        <!-- Need some fix for look of link below and similar ones -->
        <form th:action="${event.getEventID() + '/setEventStatus'}" method="post">
            Optional message: <input type="text" maxlength="300" name="message" />
            <button type="submit" name="changeStatus" value="APPROVED" class="btn btn-outline-success">Approve</button>
            <button type="submit" name="changeStatus" value="DENIED" class="btn btn-outline-danger">Reject</button>
        </form>
    </div>

    <div th:if="${user != null && user.getUserRole().getName() == 'COORDINATOR' && event.getCoordinator() == null}">
        You are coordinator and this event is not coordinated yet.
        <form th:action="${event.getEventID() + '/coordinate'}" method="post">
            <button type="submit" class="btn">I will coordinate this</button>
        </form>
    </div>

    <div
        th:if="${user != null && event.getCoordinator() != null && event.getCoordinator().getLogin() == user.getLogin()}">
        <div th:if="${event.getStatus().getName() == 'COORDINATED'}">
            You coordinate this event, you can publish it for volunteers when it's ready.
            <form th:action="${event.getEventID() + '/setEventStatus'}" method="post">
                <button type="submit" name="changeStatus" value="PUBLISHED" class="btn">Publish event</button>
            </form>
        </div>
        <div th:if="${event.getStatus().getName() == 'PUBLISHED'}">
            You coordinate this event, you can re-edit it if you found something wrong.
            <form th:action="${event.getEventID() + '/setEventStatus'}" method="post">
                <button type="submit" name="changeStatus" value="COORDINATED" class="btn">Un-publish event</button>
            </form>
        </div>
        <form th:action="${event.getEventID() + '/coordinate'}" method="post">
            If you cannot longer coordinate this event, you can abandon it
            <button type="submit" name="drop" value="true" class="btn">I can't coordinate this now</button>
        </form>
    </div>

    <-------- END OF THIS SECTION ------->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>