<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<title th:text="${volunteerFunction.getName()} + ' volunteerFunction'"> </title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../static/css/currentEvent.css" th:href="@{/css/currentEvent.css}" rel="stylesheet" />
	<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
	<div id="header">
		<div class="head_line">
			<div class="head_line_block_left">
				<a th:href="@{/main}">Главная</a>
			</div>

			<div class="head_line_block_right">
				<!--                The "sign out" block must be the last among the elements of the current block-->
				<div class="head_one_element" sec:authorize="isAuthenticated()">
					<form th:action="@{/logout}" method="post">
						<input type="submit" value="Sign Out" />
					</form>
				</div>
			</div>
		</div>
	</div>

	<h2 th:text="${volunteerFunction.getName()}" />

	<table>
		<tr>
			<td th:text="Name" />
			<td th:text="Description" />
			<td th:text="Requirements" />
			<td th:text="Time" />
			<td th:text="NumberOfVolunteers" />
		</tr>
		<td th:text="${volunteerFunction.getName()}" />
		<td th:text="${volunteerFunction.getDescription()}" />
		<td th:text="${volunteerFunction.getRequirements()}" />
		<td><span th:text="${volunteerFunction.getTimeStart()}" /> - <span th:text="${volunteerFunction.getTimeFinish()}" /></td>
		<td th:text="${volunteerFunction.getNumberNeeded()}" />
		</tr>
	</table>

	<h2>Candidates:</h2>
	<table>
		<tr>
			<td>Name</td>
			<td>Status</td>
		</tr>
		<tr th:each="uvf : ${userVolunteerFunctions}">
			<td><span th:text="${uvf.user.getName()}" /></td>
			<td><span th:text="${uvf.getStatus().getName()}" /></td>
			<td th:if="${volunteerFunction.getEvent().getOrganiser().getLogin() == user.getLogin()}">(Here will be
				status changing button)</td>
		</tr>
	</table>

	<div th:if="${user != null && user.getUserRole().getName().equals('VOLUNTEER')}">
		<form method="POST">
			<input type="hidden" name="volunteerFunctionID" value="${volunteerFunction.getVolunteerFunctionID()}">
			<button type="submit">Sign me up!</button>
		</form>
	</div>
</body>

</HTML>