<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
	<title th:text="'Редактирование функции ' + ${volunteerFunction.getName()}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">
	<div class="collapse navbar-collapse">
		<div class="navbar-nav">
			<a class="nav-item">
				<a class="nav-link" th:href="@{/events}">Мои мероприятия</a>
			</a>
			<a class="nav-item">
				<a class="nav-link" th:href="${'/events/' + volunteerFunction.getEvent().getEventID()}">Назад к мероприятию</a>
			</a>
		</div>
	</div>
	<div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
		<div class="nav-item">
			<span class="navbar-text" th:text="${name}"></span>
		</div>

		<div class="nav-item">
			<a class="nav-link" th:href="@{/personal_account}">Мой профиль</a>
		</div>

		<div class="nav-item">
			<form class="nav-item" th:action="@{/logout}" method="post">
				<input class="btn btn-secondary" type="submit" value="Выйти из аккаунта" />
			</form>
		</div>
	</div>
</nav>

<div style="margin-left: 4%">
	<div name="title">
		<h2>Основаная информация о функции волонтера</h2>
	</div>
	<form method="post">
		<div class="form-group row">
			<label for="name" class="col-md-2 col-form-label">Название</label>
			<div class="col-md-6">
				<input type="text" class="form-control" id="name" name="name"  th:value="${volunteerFunction.getName()}"  maxlength="500">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="dateStart">Дата начала</label>
				<input type="datetime-local" name="timeStart" class="form-control" id="dateStart" th:value="${volunteerFunction.getTimeStart()}" maxlength="500">
			</div>
			<div class="form-group col-md-4">
				<label for="dateFinish">Дата окончания</label>
				<input type="datetime-local" name="timeFinish" class="form-control" id="dateFinish" th:value="${volunteerFunction.getTimeFinish()}" maxlength="500">
			</div>
		</div>
		<div class="form-group row">
			<label for="description" class="col-md-2 col-form-label">Описание</label>
			<div class="col-md-6">
				<textarea class="form-control" name="description" id="description" maxlength="2000" cols="90" th:text="${volunteerFunction.getDescription()}"></textarea>
			</div>
		</div>
		<div class="form-group row">
			<label for="requirements" class="col-md-2 col-form-label">Особые требования</label>
			<div class="col-md-6">
				<input type="text" class="form-control" id="requirements" name="requirements" th:value="${volunteerFunction.getRequirements()}" maxlength="500">
			</div>
		</div>

		<div class="form-group row">
			<label for="numberNeeded" class="col-md-2 col-form-label">Количество волонтёров</label>
			<div class="col-md-6">
				<input type="text" class="form-control" id="numberNeeded" name="numberNeeded" th:value="${volunteerFunction.getNumberNeeded()}" maxlength="500">
			</div>
		</div>
		<div class="col-md-8">
			<button type="submit" class="btn btn-lg btn-primary btn-block ">Сохранить изменения</button>
		</div>
	</form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>