<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Events</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h2>List of Events</h2>
<div class="eventsList">
    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td>Date start</td>
            <td>Date finish</td>
            <td>View</td>
        </tr>
        </thead>

        <tbody>
        <tr th:each="event : ${events}">
            <td><span th:text="${event.getName()}"> Name </span></td>
            <td><span th:text="${event.getDateStart()}"> Date Start </span></td>
            <td><span th:text="${event.getDateFinish()}"> Date Finish</span></td>
            <td><a th:href="${(event.getEventID())}">view event</a></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>
