<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<!--    <a href="/main">Вход</a>-->
    <div>
        <a th:href="@{/main}">Вход</a>
    </div>

    <div sec:authorize="isAuthenticated()">
        Text visible only to authenticated users.
    </div>

    <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
    <p>Здесь будет список мероприятий, который могут посмотреть все</p>
</body>
</html>