<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Landing page</title>
</head>
<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid text-center" id="main-info">
        <h1>Ты нужен людям!</h1>
        <div class="lead">Самое масштабное карьерное мероприятие для студентов технических специальностей в Питере!</div>
        <button type="button" class="btn btn-success btn-large" style="margin-top: 10px">Присоединиться</button>
    </div>
</div>

<div class="container-fluid text-center font-weight-bold" id="short-info">
    <div class="row">
        <div class="col-4">
            <p>Дата: 11.04</p>
        </div>
        <div class="col-4">
            <p>Место: клуб "Spb"</p>
        </div>
        <div class="col-4">
            <p>Время: 10:00-17:00</p>
        </div>
    </div>
</div>

<div class="container-fluid lead" id="statistic-info">
    <div class="row text-center">
        <div class="col-md-4">
            <img src="image1.PNG" alt="icon1">
            <p>20+ компаний предлагают стажировки и вакансии</p>
        </div>
        <div class="col-md-4">
            <img src="image2.PNG" alt="icon2">
            <p>Более 5.000 технарей побывали на TechnoCareer</p>
        </div>
        <div class="col-md-4">
            <img src="image3.PNG" alt="icon3">
            <p>Пройди собеседования прямо на форуме</p>
        </div>
    </div>

</div>

<div class="container-fluid lead" id="full-info" style="padding-bottom: 10px; padding-top: 10px">
    <p>ТОП-работодатели предлагают стажировки и объясняют, почему выгодно развиваться именно у них.
        Ты поймешь, что у тебя есть выбор, куда идти. Сделай первый шаг - приходи на форум. HR уже собрались :)
        Большинство компаний предлагают технарям гибкий график, работу в интересных проектах и высокую зарплату.</p>
    <p>На форуме тебя ждёт возможность пройти несколько собеседований в ТОП-компании.
        Улучши навыки ответов на вопросы и получи обратную связь от HR</p>
</div>


<div class="container-fluid" id="subscribe-form">

    <div id="pre-form-info" class="text-center">
        <h1>Получи свой билет!</h1>
    </div>

    <form role="form">
        <div class="form-group">
            <label for="email"><b>Твой e-mail</b></label>
            <input type="email" class="form-control" id="email" placeholder="example@gmail.com">
        </div>

        <div class="form-group">
            <label for="name"><b>Твое имя</b></label>
            <input class="form-control" id="name" placeholder="Иван">
        </div>

        <div class="form-group">
            <label for="comment"><b>Комментарий к заказу</b></label>
            <textarea class="form-control" rows="1" id="comment"></textarea>
        </div>

        <div class="row">
            <div class="col-12 text-center" style="margin-bottom: 10px">
                <button type="button" class="btn btn-primary">Отправить заявку!</button>
            </div>
        </div>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>