<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Events</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div id="header">
        <div class="head_line">
            <div class="head_line_block_left">
                <!-- The "Вход" block must be the first among the elements of the current block -->
                <div class="head_one_element" sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">Вход</a>
                </div>

                <div class="head_one_element" th:if="${roleName != null && roleName == 'ADMIN'}">
                    <a th:href="@{/registration}">Register person</a>
                </div>

                <div class="head_one_element" th:if="${roleName != null && roleName == 'ORGANISER'}">
                    <a th:href="@{/addEvent}">Add event</a>
                </div>

                <div class="head_one_element" th:if="${roleName != null && (roleName =='COORDINATOR' || roleName == 'VOLUNTEER' || roleName =='ORGANISER')}">
                    <a th:href="@{/listOfMyEvents}" >Pool of my events</a>
                </div>

                <div class="head_one_element" th:if="${roleName != null && (roleName =='COORDINATOR' || roleName == 'MANAGER' || roleName =='ADMIN')}">
                    <a th:href="@{/listOfEventsToManage}" >Pool events to manage</a>
                </div>
            </div>


            <div class="head_line_block_right">
<!--                JUST FOR TESTING-->
                <div class="head_one_element" sec:authorize="isAuthenticated()">
                    <p th:text="${name_and_role}"></p>
                </div>

                <div class="head_one_element" sec:authorize="isAuthenticated()">
                    <a th:href="@{/personal_account}">My profile</a>
                </div>

                <!-- The "sign out" block must be the last among the elements of the current block -->
                <div class="head_one_element" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out" />
                    </form>
                </div>
            </div>
        </div>
    </div>





    <h2>List of events to sign up</h2>
    <div th:if="${events != null && events.size() > 0}" class="eventsList">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Date start</td>
                    <td>Date finish</td>
                    <td th:if="${advanced != null && advanced.equals(true)}">Status</td>
                    <td>View</td>
                </tr>
            </thead>

            <tbody>
                <tr th:each="event : ${events}">
                    <td th:text="${event.getName()}" />
                    <td th:text="${event.getDateStart()}" />
                    <td th:text="${event.getDateFinish()}" />
                    <td th:if="${advanced != null && advanced.equals(true)}" th:text="${event.getStatus().getName()}" />
                    <td><a th:href="@{'/main/' + ${(event.getEventID())}}">view event</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${events == null || events.size() == 0}">
        There are currently no events avaliable
    </div>

</body>

</html>