<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Мероприятия клуба</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">
    <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <div class="nav-item">
            <span class="navbar-text" th:text="${name}"></span>
        </div>

        <div class="nav-item">
            <a class="nav-link" th:href="@{/personal_account}">Мой профиль</a>
        </div>


        <div class="nav-item" style="padding-right: 1%">
            <a class="btn btn-outline-primary" th:href="${'/registration/'}"  role="button">Управленеи командой</a>
        </div>

        <div class="nav-item">
            <form class="nav-item" th:action="@{/logout}" method="post">
                <input class="btn btn-secondary" type="submit" value="Выйти из аккаунта" />
            </form>
        </div>
    </div>
</nav>


<div id="container" style="padding-left: 2%; padding-right: 2%">
        <div id="container-content" class="row">
            <div class="col-md">
                <div style="text-align: center"><h5>Непроверенные</h5></div>
                <div th:each="event : ${uncheckedEvents}">
                    <div class="card" style="margin-bottom: 5%">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${event.getName()}"/>
                            <p class="card-text" th:text="${event.getPrettyDateStart()} + '—' + ${event.getPrettyDateFinish()}"/>
                            <a class="btn btn-outline-primary" th:href="${'/events/' + event.getEventID()}"  role="button">Просмотреть</a>
                            <form th:action="${'/events/' + event.getEventID() + '/setEventStatus'}" method="post">
                                <button type="submit" name="changeStatus" value="APPROVED" class="btn btn-outline-success">Одобрить</button>
                                <button type="submit" name="changeStatus" value="DENIED" class="btn btn-outline-danger">Отклонить</button>
                                Причина отказа: <input type="text" maxlength="300" name="message" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div style="text-align: center"><h5>Одобренные</h5></div>
                <div th:each="event : ${approvedEvents}">
                    <div class="card" style="margin-bottom: 5%">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${event.getName()}"/>
                            <p class="card-text" th:text="${event.getPrettyDateStart()} + '—' + ${event.getPrettyDateFinish()}"/>
                            <a class="btn btn-outline-primary" th:href="${'/events/' + event.getEventID()}"  role="button">Просмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div style="text-align: center"><h5>Координируются</h5></div>
                <div th:each="event : ${coordinatedEvents}">
                    <div class="card" style="margin-bottom: 5%">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${event.getName()}"/>
                            <p class="card-text" th:text="${event.getPrettyDateStart()} + '—' + ${event.getPrettyDateFinish()}"/>
                            <p class="card-text" th:text="'Координатор: ' + ${event.getCoordinator().getName()}"/>
                            <a class="btn btn-outline-primary" th:href="${'/events/' + event.getEventID()}"  role="button">Просмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div style="text-align: center"><h5>Завершенные</h5></div>
                <div th:each="event : ${endedEvents}">
                    <div class="card" style="margin-bottom: 5%">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${event.getName()}"/>
                            <p class="card-text" th:text="${event.getPrettyDateStart()} + '—' + ${event.getPrettyDateFinish()}"/>
                            <p class="card-text" th:text="'Координатор: ' + ${event.getCoordinator().getName()}"/>
                            <a class="btn btn-outline-primary" th:href="${'/events/' + event.getEventID()}"  role="button">Просмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div style="text-align: center"><h5>Отклоненные</h5></div>
                <div th:each="event : ${deniedEvents}">
                    <div class="card" style="margin-bottom: 5%">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${event.getName()}"/>
                            <p class="card-text" th:text="${event.getPrettyDateStart()} + '—' + ${event.getPrettyDateFinish()}"/>
                            <p class="card-text" th:text="'Причина: ' + ${event.getMessage()}"/>
                            <a class="btn btn-outline-primary" th:href="${'/events/' + event.getEventID()}"  role="button">Просмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>