<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Pool of my events</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="js/script.js"></script>
</head>

<body>
    <div id="header">
        <div class="head_line">
            <div class="head_line_block_left">
                <a th:href="@{/main}">Главная</a>
            </div>

            <div class="head_line_block_right">
                <!--                The "sign out" block must be the last among the elements of the current block-->
                <div class="head_one_element" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out" />
                    </form>
                </div>
            </div>
        </div>
    </div>


    <h4>Personal data</h4>

    <table>
        <tr>
            <td>Login: </td>
            <td th:text="${person.getLogin()}" />

        </tr>
        <tr>
            <td>Name: </td>
            <td th:text="${person.getName()}" />
        </tr>
        <tr>
            <td>Email: </td>
            <td th:text="${person.getEmail()}" />
        </tr>
        <tr>
            <td>Role: </td>
            <td th:text="${person.getUserRole().getName()}" />
        </tr>
    </table>

    <h4>Change password</h4>
    <form th:action="@{/changePassword}" method="post">
        <table>
            <tr>
                <td>Old password: </td>
                <td><input type="text" name="oldPassword" maxlength="20" /></td>
                <td id="output1"></td>
            </tr>
            <tr>
                <td>New password: </td>
                <td><input type="text" id="pass1" name="newPassword1" maxlength="20" onChange="check_it1()"/></td>
                <td id="output2"></td>
            </tr>
            <tr>
                <td>New password: </td>
                <td><input type="text" id="pass2" name="newPassword2" maxlength="20" onChange="check_it2()"/></td>
                <td id="output3"></td>
            </tr>
        </table>
    </form>

<!--    <h4>Change password</h4>-->
<!--    <form th:action="@{/changePassword}" method="post">-->
<!--        <div><label> Old password : <input type="text" name="oldPassword" maxlength="20" /> </label></div>-->
<!--        <p id="output1"></p>-->
<!--        <div><label> New password : <input type="text" id="pass1" name="newPassword1" maxlength="20" onChange="check_it1()"/> </label></div>-->
<!--        <p id="output2"></p>-->
<!--        <div><label> New password : <input type="text" id="pass2" name="newPassword2" maxlength="20" onChange="check_it2()"/> </label></div>-->
<!--        <p id="output3"></p>-->
<!--        <div><input type="submit" value="Change password"/></div>-->
<!--    </form>-->
    <div>
        <p th:text="${password_change_status}"></p>
    </div>

<!--    ТЕСТОВАЯ ЧАСТЬ ДЛЯ ПРОВЕРКИ ВВЕДЕННОГО ПАРОЛЯ НА СООТВЕТСТВИЕ МИНИМАЛЬНЫМ ТРЕБОВАНИЯМ-->
    <script>
        function check_it1() {
            if (document.getElementById("pass1").value.length < 4)
                document.getElementById("output2").innerHTML = "короткий пароль";
            else
                document.getElementById("output2").innerHTML = "";
        }
    </script>
</body>
</html>