<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Pool of events to manage</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
    <div id="header">
        <div class="head_line">
            <div class="head_line_block_left">
                <a th:href="@{/main}">Главная</a>
            </div>

            <div class="head_line_block_right">
                <!--                The "sign out" block must be the last among the elements of the current block-->
                <div class="head_one_element" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${events != null && events.size() > 0}" class="eventsList">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Date start</td>
                    <td>Date finish</td>
                    <td>Status</td>
                    <td>Message</td>
                    <td>View</td>
                </tr>
            </thead>

            <tbody>
                <tr th:each="event : ${events}">
                    <td th:text="${event.getName()}" />
                    <td th:text="${event.getDateStart()}" />
                    <td th:text="${event.getDateFinish()}" />
                    <td th:text="${event.getStatus().getName()}" />
                    <td th:text="${event.getMessage()}" />
                    <td><a th:href="@{'/main/' + ${(event.getEventID())}}">view event</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>