<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div id="header">
        <div class="head_line">
            <div class="head_line_block_left">
                <a th:href="@{/main}">Главная</a>
            </div>

            <div class="head_line_block_right">
                <!--                The "sign out" block must be the last among the elements of the current block-->
                <div class="head_one_element" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <p>Registration</p>
    <form th:action="@{/registration}" method="post">
        <div><label> Имя : <input type="text" name="name" maxlength="40" /> </label></div>
        <div><label> Логин : <input type="text" name="login" maxlength="20" /> </label></div>
        <div><label> Email : <input type="text" name="email" maxlength="40" /> </label></div>
        <div><label> Password: <input type="password" name="password" /> </label></div>
        <td>Type :</td>
        <td>
            <p><input type="radio" name="userRole" value="VOLUNTEER" checked>Volunteer</p>
            <p><input type="radio" name="userRole" value="ORGANISER">Organiser</p>
            <p th:if="${roleName != null && roleName.equals('ADMIN')}"><input type="radio" name="userRole" value="COORDINATOR">Coordinator</p>
            <p th:if="${roleName != null && roleName.equals('ADMIN')}"><input type="radio" name="userRole" value="MANAGER">Manager</p>
        </td>
        <div><input type="submit" value="Register"/></div>
    </form>
</body>
</html>