<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Регистрация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header" sec:authorize="isAuthenticated()">
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item">
                    <a class="nav-link" th:href="@{/events}">Мои мероприятия</a>
                </a>
            </div>
        </div>
        <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <div class="nav-item">
                <span class="navbar-text" th:text="${name}"></span>
            </div>

            <div class="nav-item">
                <a class="nav-link" th:href="@{/personal_account}">Мой профиль</a>
            </div>

            <div class="nav-item">
                <form class="nav-item" th:action="@{/logout}" method="post">
                    <input class="btn btn-secondary" type="submit" value="Выйти из аккаунта" />
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center align-items-center text-center" style="padding: 10%">
            <div class="col-5">
                <form th:action="@{/registration}" method="post">
                    <h1 class="h3 font-weight-normal">Регистрация</h1>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="Name" >Имя</span>
                        </div>

                        <input type="text" name="name" class="form-control" placeholder="Имя" maxlength="60" required>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="Surname" >Фамилия</span>
                        </div>

                        <input type="text" name="surname" class="form-control" placeholder="Фамилия" maxlength="60" required>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="Login">Логин</span>
                        </div>
                        <input type="text" name="login" class="form-control" placeholder="Логин" maxlength="20" required>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="Email">E-mail</span>
                        </div>
                        <input type="email" name="email" class="form-control" placeholder="Example@mail.ru" maxlength="40" required>

                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="Password">Пароль</span>
                        </div>
                        <input type="password" name="password" class="form-control" placeholder="Придумайте пароль" required>
                    </div>

                    <div><input type="submit" class="btn btn-lg btn-primary btn-block" value="Зарегистрироваться!" /></div>
                </form>

                <div th:if="${roleName == null}" class="login-here" style="padding: 5%">
                    Уже есть аккаунт? <a th:href="@{/login}">Войдите в систему</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>