<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<style type="text/css">
    table {
        width: 600px;
        border-collapse: collapse;
    }
    td, th {
        padding: 3px;
        border: 1px solid black;
    }
</style>
<body>
<p>Отчет по мероприятию.</p>
<h4>I. Необходимо заполнить до начала мероприятия.</h4>
<table id="report" style="padding: 1%; margin:1%">
    <tr><td>Официальное, полное название мероприятия.</td></tr>
    <tr><td th:text="${event.getName()}"> </td></tr>
    <tr><td>Краткое наименования мероприятия.</td></tr>
    <tr><td th:text="${reportInfo.getShortName()}"> </td></tr>
    <tr><td>Категория</td></tr>
    <tr><td th:text="${reportInfo.getCategoryStatus().getRussishName()}"></td></tr>
    <tr><td>Публичность</td></tr>
    <tr><td th:text="${reportInfo.getPublicityStatus().getRussishName()}"></td></tr>
    <tr><td>Уровень мероприятия</td></tr>
    <tr><td th:text="${reportInfo.getLevel().getRussishName()}"></td></tr>
    <tr><td>Дата начала и дата окончания мероприятия</td></tr>
    <tr><td th:text="${event.getPrettyDateStart()} + '-' + ${event.getPrettyDateFinish()}"></td></tr>
    <tr><td><b>Пресс-релиз:</b></td></tr>
    <tr><td>Анонс мероприятия</td></tr>
    <tr><td th:text="${reportInfo.getShortDescription()}"></td></tr>
    <tr><td> Описание мероприятия:</td></tr>
    <tr><td th:text="${event.getDescription()}"></td></tr>
    <tr><td>Участники</td></tr>
    <tr><td th:text="${reportInfo.getParticipants()}"></td></tr>
    <tr><td>Куратор студента при участии в реализации мероприятия</td></tr>
    <tr><td th:text="${event.getManager().getContacts()}"></td></tr>
    <tr><td>Структурные подразделения Университета ИТМО</td></tr>
    <tr><td>Управление по развитию студенческих инициатив <br> Клуб "ты нужен людям!"</td></tr>
    <tr><td> Место проведения</td></tr>
    <tr><td th:text="${event.getPlace()}"></td></tr>
    <tr><td>Контактное лицо</td></tr>
    <tr><td th:text="${event.getCoordinator().getContacts()}"></td></tr>
</table>
<a class="btn btn-outline-primary" th:href="${'/events/' + event.getEventID() + '/edit'}"  role="button">Изменить описание меропиятия</a>
<a class="btn btn-outline-primary" th:href="${'/events/' + event.getEventID() + '/reports/edit'}"  role="button">Изменить добавочную информацию</a>
<a class="btn btn-outline-primary" th:href="${'/events/' + event.getEventID() + '/reports/addVolunteers'}"  role="button">Добавить волонтеров</a>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</html>