<html>
<div id="register_form">
    <form method="post" action="register">
        <table>
            <tr>
                <td>E-mail :</td>
                <td><input type="text" name="email" value="" />
                </td>
            </tr>
            <tr>
                <td>Login :</td>
                <td><input type="text" name="login" value="" />
                </td>
            </tr>
            <tr>
                <td>UserName :</td>
                <td><input type="text" name="name" value="" />
                </td>
            </tr>
            <tr>
                <td>Password :</td>
                <td><input type="password" name="password" value="" />
                </td>
            </tr>
            <tr>
                <td>Type :</td>
                <td>
                    <p><input type="radio" name="userType" value="VOLUNTEER" checked>Volunteer</p>
                    <p><input type="radio" name="userType" value="ORGANISER">Organiser</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="register" value="Register" style="font-size:18px; " />
                </td>
            </tr>
        </table>
    </form>
</div>