<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Volunteers for current event</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<h2>Volunteers for current event:</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">User Name</th>
            <th scope="col">User Function</th>
            <th scope="col">Function Time</th>
            <th scope="col">Function status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="users : ${registeredUsers}">
            <td th:text="${users.getUser().getName()}"></td>
            <td th:text="${users.getVolunteerFunction().getName()}"></td>
            <td th:text="${users.getVolunteerFunction().getTimeStart().toString()} + ' ' + ${users.getVolunteerFunction().getTimeFinish().toString()}"></td>
            <td th:text="${users.getStatus().getName()}"></td>
            <!--- drawing logic starts here--->
            <th:block th:switch="${users.getStatus().getName()}">
                <div th:case="'UNCHECKED'">
                    <td>
                        <div class="button-group">
                            <form action="#" th:action="@{volunteers}" method="post">
                                <input type="hidden" name="userVolunteerFunctionID" th:value="${users.getUserVolunteerFunctionID()}">
                                <button type="submit" name="newStatus" th:value="Accept" class="btn btn-success">Принять</button>
                                <button type="submit" name="newStatus" th:value="Reject" class="btn btn-secondary">Отклонить</button>
                            </form>
                        </div>
                    </td>
                </div>
                <div th:case="'DENIED'">
                    <td>
                        <div class="button-group">
                            <form action="#" th:action="@{volunteers}" method="post">
                                <input type="hidden" name="userVolunteerFunctionID" th:value="${users.getUserVolunteerFunctionID()}">
                                <button type="submit" name="newStatus" th:value="Accept" class="btn btn-outline-success">Принять</button>
                            </form>
                        </div>
                    </td>
                </div>
                <div th:case="'APPROVED'">
                    <div th:if="${timeNow.isAfter(users.volunteerFunction.getTimeFinish())}">
                        <td>
                            <div class="button-group">
                                <form action="#" th:action="@{volunteers}" method="post">
                                    <input type="hidden" name="userVolunteerFunctionID" th:value="${users.getUserVolunteerFunctionID()}">
                                    <button type="submit" name="newStatus" th:value="WasAbsent" class="btn">Отсутствовал</button>
                                    <input type="text" name="numberOfHours" size="5" placeholder="время">
                                    <input type="text" name="estimation" size="5" placeholder="оценка">
                                    <button type="submit" name="newStatus" th:value="Participated" class="btn" >Оценить</button>
                                </form>
                            </div>
                        </td>
                    </div>
                    <div th:unless="${timeNow.isAfter(users.volunteerFunction.getTimeFinish())}">
                        <td>
                            <div class="button-group">
                                <form action="#" th:action="@{volunteers}" method="post">
                                    <input type="hidden" name="userVolunteerFunctionID" th:value="${users.getUserVolunteerFunctionID()}">
                                    <button type="submit" name="newStatus" th:value="Reject" class="btn btn-outline-danger">Отклонить</button>
                                </form>
                            </div>
                        </td>
                    </div>
                </div>
                <div th:case="'ABSENT'">
                    <td>No actions availiable</td>
                </div>
                <div th:case="'PARTICIPATED'">
                    <td th:text="${users.getNumberOfHours()}"></td>
                    <td th:text="${users.getEstimation()}"></td>
                </div>
            </th:block>
        </tr>
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>
