<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Volunteers for current event</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <!-- The "Вход" block must be the first among the elements of the current block -->
                <a class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">Вход</a>
                </a>

                <a class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/registration}">Регистрация</a>
                </a>

                <a class="nav-item">
                    <a class="nav-link" th:href="@{/}">Главная</a>
                </a>

                <a class="nav-item" th:if="${roleName != null && roleName == 'ADMIN'}">
                    <a class="nav-link" th:href="@{/registration}">Register person</a>
                </a>

                <a class="nav-item" th:if="${roleName != null && roleName == 'ORGANISER'}">
                    <a class="nav-link" th:href="@{/addEvent}">Add event</a>
                </a>

                <a class="nav-item"
                    th:if="${roleName != null && (roleName =='COORDINATOR' || roleName == 'VOLUNTEER' || roleName =='ORGANISER')}">
                    <a class="nav-link" th:href="@{/listOfMyEvents}">Pool of my events</a>
                </a>

                <a class="nav-item"
                    th:if="${roleName != null && (roleName =='COORDINATOR' || roleName == 'MANAGER' || roleName =='ADMIN')}">
                    <a class="nav-link" th:href="@{/listOfEventsToManage}">Pool events to manage</a>
                </a>
            </div>
        </div>


        <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <!--                JUST FOR TESTING-->
            <div class="nav-item" sec:authorize="isAuthenticated()">
                <span class="navbar-text" th:text="${name_and_role}"></span>
            </div>

            <div class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/personal_account}">My profile</a>
            </div>

            <!-- The "sign out" block must be the last among the elements of the current block -->
            <div class="nav-item" sec:authorize="isAuthenticated()">
                <form class="nav-item" th:action="@{/logout}" method="post">
                    <input class="btn btn-secondary" type="submit" value="Sign Out" />
                </form>
            </div>
        </div>
    </nav>
    
    <h2>Volunteers for current event:</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">User Name</th>
                <th scope="col">View volunteer</th>
                <th scope="col">User Function</th>
                <th scope="col">Function Time</th>
                <th scope="col">Function status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="users : ${registeredUsers}">
                <td th:text="${users.getUser().getName()}"></td>
                <td><a th:href="@{'/volunteers/' + ${users.getUser().getUserID()}}">View</a></td>
                <td th:text="${users.getVolunteerFunction().getName()}"></td>
                <td
                    th:text="${users.getVolunteerFunction().getTimeStart().toString()} + ' ' + ${users.getVolunteerFunction().getTimeFinish().toString()}">
                </td>
                <td th:text="${users.getStatus().getName()}"></td>
                <!--- drawing logic starts here--->
                <th:block th:switch="${users.getStatus().getName()}">
                    <div th:case="'UNCHECKED'">
                        <td>
                            <div class="button-group">
                                <form action="#" th:action="@{volunteers}" method="post">
                                    <input type="hidden" name="userVolunteerFunctionID"
                                        th:value="${users.getUserVolunteerFunctionID()}">
                                    <button type="submit" name="newStatus" th:value="Accept"
                                        class="btn btn-success">Принять</button>
                                    <button type="submit" name="newStatus" th:value="Reject"
                                        class="btn btn-secondary">Отклонить</button>
                                </form>
                            </div>
                        </td>
                    </div>
                    <div th:case="'DENIED'">
                        <td>
                            <div class="button-group">
                                <form action="#" th:action="@{volunteers}" method="post">
                                    <input type="hidden" name="userVolunteerFunctionID"
                                        th:value="${users.getUserVolunteerFunctionID()}">
                                    <button type="submit" name="newStatus" th:value="Accept"
                                        class="btn btn-outline-success">Принять</button>
                                </form>
                            </div>
                        </td>
                    </div>
                    <div th:case="'APPROVED'">
                        <div th:if="${timeNow.isAfter(users.volunteerFunction.getTimeFinish())}">
                            <td>
                                <div class="button-group">
                                    <form action="#" th:action="@{volunteers}" method="post">
                                        <input type="hidden" name="userVolunteerFunctionID"
                                            th:value="${users.getUserVolunteerFunctionID()}">
                                        <button type="submit" name="newStatus" th:value="WasAbsent"
                                            class="btn">Отсутствовал</button>
                                        <input type="text" name="numberOfHours" size="5" placeholder="время">
                                        <input type="text" name="estimation" size="5" placeholder="оценка">
                                        <button type="submit" name="newStatus" th:value="Participated"
                                            class="btn">Оценить</button>
                                    </form>
                                </div>
                            </td>
                        </div>
                        <div th:unless="${timeNow.isAfter(users.volunteerFunction.getTimeFinish())}">
                            <td>
                                <div class="button-group">
                                    <form action="#" th:action="@{volunteers}" method="post">
                                        <input type="hidden" name="userVolunteerFunctionID"
                                            th:value="${users.getUserVolunteerFunctionID()}">
                                        <button type="submit" name="newStatus" th:value="Reject"
                                            class="btn btn-outline-danger">Отклонить</button>
                                    </form>
                                </div>
                            </td>
                        </div>
                    </div>
                    <div th:case="'ABSENT'">
                        <td>No actions availiable</td>
                    </div>
                    <div th:case="'PARTICIPATED'">
                        <div>
                            <td>
                                <div th:text="Часы"></div>
                                <div th:text="${users.getNumberOfHours()}"></div>
                            </td>
                        </div>

                        <td>
                            <div th:text="Оценка"></div>
                            <div th:text="${users.getEstimation()}"></div>
                        </td>
                    </div>
                </th:block>
            </tr>
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>