<html>
<div id="addEvent_with_roles_form">
    <form method="post" action="addEventVolunteersFunctions">
        <table>
            <tr>
                <td>Event name :</td>
                <td><input type="text" name="eventName" value="" /></td>
            </tr>
            <tr>
                <td>Event Description :</td>
                <td><input type="text" name="eventDescription" value="" /></td>
            </tr>
            <tr>
                <td>Start date :</td>
                <td><input type="datetime-local" name="eventDateStart" value="" /></td>
            </tr>
            <tr>
                <td>End date :</td>
                <td><input type="datetime-local" name="eventDateFinish" value="" /></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Volunteer function name :</td>
                <td><input type="text" name="roleName" value="" /></td>
            </tr>
            <tr>
                <td>Volunteer function description :</td>
                <td><input type="text" name="roleDescription" value="" /></td>
            </tr>
            <tr>
                <td>Volunteer function requirements :</td>
                <td><input type="text" name="roleRequirements" value="" /></td>
            </tr>
            <tr>
                <td>Start time :</td>
                <td><input type="datetime-local" name="roleTimeStart" value="" /></td>
            </tr>
            <tr>
                <td>End time :</td>
                <td><input type="datetime-local" name="roleTimeFinish" value="" /></td>
            </tr>
            <tr>
                <td>Number of volunteers needed :</td>
                <td><input type="number" name="roleNumberNeeded" value="" /></td>
            </tr>
            <td><input type="submit" name="addEventRoles" value="Add Role" style="font-size:18px; " /></td>
                
    </form>
</div>

</html>