<html>
<div id="addEvent_with_volunteerFunctions_form">
    <form method="post" action="addEventVolunteerFunctions">
        <table>
            <tr>
                <td>Event name :</td>
                <td><input type="text" name="eventName" value="" /></td>
            </tr>
            <tr>
                <td>Event Description :</td>
                <td><input type="text" name="eventDescription" value="" /></td>
            </tr>
            <tr>
                <td>Start date :</td>
                <td><input type="datetime-local" name="eventDateStart" value="" /></td>
            </tr>
            <tr>
                <td>End date :</td>
                <td><input type="datetime-local" name="eventDateFinish" value="" /></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Volunteer function name :</td>
                <td><input type="text" name="volunteerFunctionName" value="" /></td>
            </tr>
            <tr>
                <td>Volunteer function description :</td>
                <td><input type="text" name="volunteerFunctionDescription" value="" /></td>
            </tr>
            <tr>
                <td>Volunteer function requirements :</td>
                <td><input type="text" name="volunteerFunctionRequirements" value="" /></td>
            </tr>
            <tr>
                <td>Start time :</td>
                <td><input type="datetime-local" name="volunteerFunctionTimeStart" value="" /></td>
            </tr>
            <tr>
                <td>End time :</td>
                <td><input type="datetime-local" name="volunteerFunctionTimeFinish" value="" /></td>
            </tr>
            <tr>
                <td>Number of volunteers needed :</td>
                <td><input type="number" name="volunteerFunctionNumberNeeded" value="" /></td>
            </tr>
            <td><input type="submit" value="Add event with volunteers functions" style="font-size:18px; " /></td>
                
    </form>
</div>

</html>